<!-- Create your form here -->
<h1>Student Form </h1>
<form method="POST" action="/students">
  <input type="text" name="first_name" id="first_name"></input><br>
  <input type="text" name="last_name" id="last_name"></input><br>
  <input type="submit" value="Submit Student"></input>
</form>
